<div class="container" *ngIf="person">
  <h4>
    Person edit:
  </h4>
  <form  #values="ngForm" (ngSubmit)="values">

    <div>
      <div>
        <label><h6>Name:</h6></label>
      </div>
      <div>
        <input type="text" [(ngModel)]="person.name" name="name" class="input-group mb-3 form-control">
      </div>
    </div>

    <div>
      <div>
        <label><h6>Address:</h6> </label>
      </div>
      <div>
        <input type="text" [(ngModel)]="person.address" name="address" class="input-group mb-3 form-control">
      </div>
    </div>

    <div>
      <div>
        <label><h6>Comment:</h6> </label>
      </div>
      <div>
        <input type="text" [(ngModel)]="person.comment" name="comment" class="input-group mb-3 form-control">
      </div>
    </div>

    <div>
      <div>
        <label><h6>Phones: </h6></label>
      </div>
      <div *ngFor="let phone of phones; let i = index">
        <div class="input-group mb-3">
          <input type="text"  class="form-control"
                 name="phone_{{i}}" [(ngModel)]="phone.phoneNumber"
                 placeholder="New phone" aria-label="New phone"
                 aria-describedby="new phone">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)=onDeletePhone(i) type="button" id="new phone">Delete</button>
          </div>
        </div>
      </div>
      <button type="button" (click)=addNewPhone() class="btn btn btn-outline-info edit-btn">Add phone</button>
    </div>

    <div>
      <div>
        <label><h6>Emails: </h6></label>
      </div>
      <div *ngFor="let email of emails; let i = index">
        <div class="input-group mb-3">
          <input type="text"  class="form-control"
                 name="email_{{i}}" [(ngModel)]="email.emailVal"
                 placeholder="New email" aria-label="New email"
                 aria-describedby="new email">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)=onDeleteEmail(i) type="button" id="new email">Delete</button>
          </div>
        </div>
      </div>
      <button type="button" (click)=addNewEmail() class="btn btn btn-outline-info edit-btn">Add email</button>
    </div>

    <div class="container edit-bar">
      <nav>
        <div class="row">
          <div class="col">
            <div class="mx-auto" style="width: 120px;">
              <a (click)="onGoToBack()"  id="a-href" class="btn btn btn-outline-info edit-btn">Back</a>
            </div>
          </div>
          <div class="col">
            <div class="mx-auto" style="width: 120px;">
              <button (click)="onSave(person)" class="btn btn btn-outline-info edit-btn">Save</button>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </form>
</div>
