.value{
  width: auto;
  float: left;
  margin-right: 10px;
}

.property{
  font-weight: bold;
  width: 100px;
  float: left;
}

.detail-btn{
  width: 140px;
}

.detail-bar{
  padding: 30px;
}

#a-href{
  color: #17A1B7;
}

#a-href:hover {
  color: white;
}

